.idea/
_vendor-[0-9]*
.vscode/
*.exe
*.gz
*.zip
*.pcap
*.gob
scripts/albiondata-client
albiondata-client-output.txt
config.yaml
.secrets
.DS_Store
act.sh
albiondata-client*
buildall.sh
run.sh
*.log
*.log.*


